<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="/assets/todo-list.js"></script>
        <script src="/assets/mutation.js"></script>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">
        <title>Todo App | Software Quality</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>
    <body>
        <div class="info-about">
            <h1>About</h1>
        </div>
        <div class="about-page">
            <h1>Instituto Politécnico de Leiria</h1>
            <h2>Masters in Computer Engineering - Mobile Computing</h2>
            <h2>2nd Semester</h2>
            <h1>Curricular Unit: Software Quality</h1>
            <h2>Project developed by:</h2>
            <div class="project-developers">
                <div class="project-developer-1">
                    <h2>Name: César Emanuel do Carmo Subtil</h2>
                    <h2>Number: 2210622</h2>
                    <h2>Email: 2210622@my.ipleiria.pt</h2>
                </div>
                <div class="project-developer-2">
                    <h2>Name: Miguel Monteiro Santos</h2>
                    <h2>Number: 2210618</h2>
                    <h2>Email: 2210618@my.ipleiria.pt</h2>
                </div>
            </div>
            
        </div>
        <div class="footer">
            Made with <font color="red">♥</font> by <a target="_blank" href="https://github.com/ishandeveloper">ishandeveloper </a>
        </div>
    </body>
</html>